.header {
    display: flex;
    align-items: center;
    background-color: #f0efeb;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.info {
    flex-shrink: 0;
}
.quote{
    flex-grow: 1;
    text-align: left; 
    margin:0;

}
.quoteWrapper {
    padding: 12px 10px;
    border-top: solid lightgrey;
    display: flex;
}