body {
    font-family: 'Imperial BT';
}

.header {
    display: flex;
    align-items: center;
    background-color: #f0efeb;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.header:hover {
    cursor: pointer;
}

.info {
    flex-shrink: 0;
}
.quote{
    flex-grow: 1;
    text-align: left; 
    margin:0;
    font-family: 'Imperial BT';
    padding: 10px 0px;
}
.quoteWrapper {
    width:auto;
    padding: 0px 10px;
    border-top: solid lightgrey;
    display: flex;
    align-items: flex-end;
}
.quoteWrapper:hover {
    cursor: pointer;
}

.nameWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}